

div.search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid gray;
    border-radius: 5px;

    box-sizing: border-box;
    width: 100%;
    max-width: 250px;
    height: 100%;
    padding: 7px;
}

div.search input {
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-left: 5px;
}

div.search input:focus {
    outline: none;
}

div.search img {
    height: 100%;
}